<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.test.SpaceMapper">
	<insert id="insertSpace">
		insert into space(fromname,message,time) values(#{fromname},#{message},#{time})
	</insert>
	<select id="getSpace" resultType="com.atguigu.mybatis.bean.space">
		select * from space where fromname = #{fromname} order by id 
	</select>
	<select id="getOneSpace" resultType="com.atguigu.mybatis.bean.space">
		select * from space where message = #{message} 
	</select>
	<update id="updateSpace">
		update space
			set num=#{num}
			where message=#{message}
	</update>
</mapper>